<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Minimum Suite">
    <test name="All Automations">
        <classes>
            <class name="org.ClearTrip.com.HotelBookingFiltersTest.TC_01_StarCategory"/>
            <class name="org.ClearTrip.com.HotelBookingFiltersTest.TC_02_GuestRating"/>
            <class name="org.ClearTrip.com.HotelBookingFiltersTest.TC_03_Amenities"/>
            <class name="org.ClearTrip.com.HotelBookingFiltersTest.TC_04_Propertytype"/>
            <class name="org.ClearTrip.com.HotelBookingFiltersTest.TC_05_Deals"/>
        </classes>
    </test>
</suite>