<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Minimum Suite">
    <test name="All Automations">
        <classes>
            <class name="org.MakeMyTripTest.com.Sagar.TC_01_RatingFilter"/>
            <class name="Sagar.org.ClearTrip.com.TC_02_Guestrating"/>
        </classes>
    </test>
</suite>