<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Minimum Suite">
    <test name="All Automations">
        <classes>
            <class name="org.ClearTrip.com.HotelBookingFunctsPricesTest.FilterHotelsInNiarobiaTest"/>
            <class name="org.ClearTrip.com.HotelBookingFunctsPricesTest.SelectHotelTest"/>
            <class name="org.ClearTrip.com.HotelBookingFunctsPricesTest.CheckAmenitiesTest"/>
            <class name="org.ClearTrip.com.HotelBookingFunctsPricesTest.SelectRoomPriceTest"/>
            <class name="org.ClearTrip.com.HotelBookingFunctsPricesTest.PassengerDetailsContinuePayTest"/>
        </classes>
    </test>
</suite>